
<script>

  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove student " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deleteButtonAction(rowNum, "resultsTable");
    }
  }



  // clicking a row takes you to that student page
  function clickRow(rowNum) {

    var url = URL + portUsed + "/student?scanID=" + rowNum;
    window.location = url;
  }

</script>




<h2>All Students Listing</h2>

<!-- TODO: add onClick events for each of the labels,
     I can modify the query string to sort by according
     to which label was clicked. -->

<div id="studentListing">


{{#if numEntries}}
<table class="resultsTable" id="resultsTable">

  <!-- IF STUDENTS EXIST IN DATABASE -->
    <thead>
      <tr>
        <th style="background: #fff1cc;">
        <th id="c_LN">Last Name
        <th id="c_FN">First Name
        <th id="c_SN">Student Number
        <th id="c_AG">Age Group
        <th id="c_SCH">School
        <!-- LATER ADD: hit lists, in same row -->
        <!-- LATER ADD: library points available -->


    <!-- EACH ROW -->
    <tbody>
    {{#each row}}
      <tr id="row{{this.studentNumber}}" onclick="clickRow({{this.studentNumber}})">
        <td style="text-align: center; background: #fff1cc;">
          <button class="deleteButton"
            onclick="clickDelete({{this.studentNumber}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.lastName}}
        <td>{{this.firstName}}
        <td>{{this.studentNumber}}
        <td>{{this.ageGroup}}
        <td>{{this.school}}
    {{/each}} <!-- END ROW -->
    </tbody>
</table>

<!-- NO STUDENTS IN DATABASE -->
{{else}}
  <p><i>No entries for students found in database!</i></p>
  <p><i>Enter in new students at the new student page.</i></p>
{{/if}}

</div>






