

<!-- ERRORS -->
{{#if errorList}}
<div id="errors">
  {{#each errorList}}
    <div>{{this}}</div>
  {{/each}}
</div>
{{/if}}


<!-- SUCCESSES -->
{{#if successList}}
<div id="successes">
  {{#each successList}}
    <div>{{this}}</div>
  {{/each}}
</div>
{{/if}}



<h2>New Panther Ticket</h2>

<!-- NEW TICKET FIELD -->
<form method="post" action="/pantherTicket">
<fieldset class="newTicketTable" style="background: #ffccf9;">
  <p><b>Note: <u>All fields required!</u></b></p>

  <table style="text-align: left;">

    <!-- STUDENT NUMBER -->
    <tr><th><label for="studentNumber">Student Number</label></th>
      <td><input name="studentNumber" id="studentNumber" type="number"
value="{{studentNum}}"></td></tr>

    <!-- DATE -->
    <tr><th><label for="date">Date</label></th>
      <td><input name="date" id="date" type="date" value="{{todayDate}}"></td></tr>

    <!-- WORK TYPE -->
    <tr><th>Work Type
      <td><select name="workType" id="workType">

        <option value="1">Tournament</option>
        <option value="2">Contest</option>
        <option value="3">Cleaning</option>
        <option value="4">Recycling</option>
        <option value="5">Other</option>
      </select></td></tr>

    <!-- Point Amount -->
    <tr><th><label for="amount">Point Amount</label></th>
      <td><input name="amount" id="amount" type="number"
value="{{amount}}"></td></tr>

  </table>

  <!-- NOTES -->
  <div class="noteBox">
    <div><b>Notes/Comments:</b></div>
    <textarea rows="4" cols="50" name="notes">{{notes}}</textarea>
  </div>
  
  <!-- SUBMIT BUTTON -->
  <input type="submit" value="Submit" id="submitButton">
  
</fieldset></form>



<!-- =========== RECENT TICKETS =========== -->
<br>
<h2>Most Recent Panther Tickets</h2>
<i>(Most recent at top)</i>
<!-- IF TICKETS EXIST -->
{{#if numTT}}
  <table class="recentTicketTable" id="recentTicketTable" style="background: #ffccf9;">
    <thead>
      <tr>
        <th style="background: #fff1cc;">
        <th id="TT_DATE">DATE
        <th id="TT_ID">Student ID
        <th id="TT_LN">Last Name
        <th id="TT_FN">First Name
        <th id="TT_T">Type
        <th id="TT_A">Amount
        <th id="TT_NOTE">Notes

    <!-- EACH TICKET -->
    <tbody>
    {{#each TT}}
      <tr id="Trow{{this.id}}">
        <td style="text-align: center; background: #fff1cc;">
          <button class="deleteButton"
            onclick="clickDelete({{this.id}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.date}}
        <td>{{this.num}}
        <td>{{this.fName}}
        <td>{{this.lName}}
        <td>{{this.type}}
        <td>{{this.amount}}
				<td><small>{{this.notes}}</small>
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO Tickets YET -->
{{else}}
    <p><i>No entries for library tickets yet...</i></p>
    <br>
{{/if}}












