<script src="scripts/Chart.js"> </script>
 

<script>
  // clicking a row takes you to that student page
  function clickRow(rowNum) {

    var url = URL + portUsed + "/student?scanID=" + rowNum;
    window.location = url;
  }



  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove winner from database? Warning, " + 
                "this can NOT be undone!")) {
			deleteWinner(rowNum, "recentTicketTable");
    }
  }


</script>


<div style="height: 64px;">
	<span style="float: center; margin-top: 30px;">
		<h1 align="center" style="margin: 0px;">Reading Lab</h1>
	</span>

	<!--
	<span style="float: right;">
		<img src="images/pickaxe.png" alt="minecraft pickaxe">
	</span>
	-->
</div>



<audio id="victorySound">
	<source src="audio/levelUp.wav" type="audio/wav">
</audio>

<audio id="buildUp">
	<source src="audio/buildUp.wav" type="audio/wav">
</audio>



<div id="dataBox">

<div class="fBox">
<table class="resultsTable" id="resultsTable" style="width:400px; border: 2px solid black; border-collapse: collapse;">
	<caption>
		<h3>~Pages Read~</h3>

		<div style="margin: 0px;" align="center">
			<div><b>{{beg}}</b> (Mon) through <b>{{end}}</b> (Fri)</div>
		</div>

		<div style="padding: 4px;">
			<select id="prevWeeks" onchange="getWeek(this.value)">
				<option value="0" {{#if week0}}selected{{/if}}>This Week</option>
				<option value="-1" {{#if week1}}selected{{/if}}>Last Week</option>
				<option value="-2" {{#if week2}}selected{{/if}}>Two Weeks Ago</option>
				<option value="-3" {{#if week3}}selected{{/if}}>Three Weeks Ago</option>
				<option value="-4" {{#if week4}}selected{{/if}}>Four Weeks Ago</option>
			</select>
		</div>
	</caption>

	<tbody>
		<tr style="border: 1px solid grey;">
			<td>Monday<b>{{this.monToday}}</b>:
			<td align="right">{{this.pagesMonday}}
		<tr style="border: 1px solid grey;">
			<td>Tuesday<b>{{this.tueToday}}</b>:
			<td align="right">{{this.pagesTuesday}}
		<tr style="border: 1px solid grey;">
			<td>Wednesday<b>{{this.wedToday}}</b>:
			<td align="right">{{this.pagesWednesday}}
		<tr style="border: 1px solid grey;">
			<td>Thursday<b>{{this.thuToday}}</b>:
			<td align="right">{{this.pagesThursday}}
		<tr style="border: 1px solid grey;">
			<td>Friday<b>{{this.friToday}}</b>:
			<td align="right">{{this.pagesFriday}}
		<tr style="border: 2px solid black; background-color: #8bc34a">
			<td align="center" style="padding-top:8px; padding-bottom:8px"><b>WEEK TOTAL:</b>
			<td align="right"><b>{{this.pagesWeekTotal}}</b>
		<tr style="border: 2px solid black; background-color: #4caf50">
			<td align="center" style="padding-top:8px; padding-bottom:8px"><b>MONTH TOTAL ({{monthName}}):</b>
			<td align="right"><b>{{this.pagesMonthTotal}}</b>
		<tr style="border: 2px solid black; background-color: #009688">
			<td align="center" style="padding-top:8px; padding-bottom:8px"><b>SCHOOL YEAR TOTAL:</b>
			<h5 style="margin: 4px;">
				<i>{{this.startSchoolYear}} through {{this.today}}
			</i></h5>
			<td align="right"><b>{{this.pagesProgramTotal}}</b>
	</tbody>
</table>

<div style="margin: 6px;">
	



</div>

</div>








<div class="fBox">
<h3 style="text-align: center;">~Recent Reading Lab Monthly Winners~</h3>
<table class="resultsTable" id="resultsTable" style="width:550px; border: 2px solid black; border-collapse: collapse;">
{{#if numWinners}}
  <!-- IF STUDENTS EXIST IN DATABASE -->
    <thead>
		<tr style="border: 1px solid grey;">
			<td>
			<td><b>ID</b>:
			<td><b>Winner</b>:
			<td><b>Prize</b>:
			<td><b>Date</b>:
			<td>

    <!-- EACH ROW -->
    <tbody>
    {{#each winner}}
      <tr>
				<td> <button class="deleteButton"
            onclick="clickDelete({{this.row_id}})"
            style="margin-right: 8px;">X
          </button>
        <td style="font-size:10pt;">{{this.id}}
        <td>{{this.fName}} {{this.lName}}
        <td style="font-size: 8pt;">{{this.notes}}
        <td style="font-size: 10pt;">{{this.date}}
    {{/each}} <!-- END ROW -->
    </tbody>

<!-- NO STUDENTS IN DATABASE -->
{{else}}
  <p><i>No winners yet!</i></p>
{{/if}}

</table>


<div style="margin: 6px;">
	<div>
		Start Date <input type="date" id="beginDate" value="{{prizeStart}}">
		End Date <input type="date" id="endDate" value="{{prizeEnd}}">
	</div>

  <!-- NOTES -->
  <div class="noteBox">
    <div><b>Enter Reading Prize:</b></div>
    <textarea rows="1" cols="30" name="notes" id="noteBox"></textarea>
  </div>

	<div>
		<button id="pickWinnerButton" 
						onclick="pickWinner(document.getElementById('beginDate').value, document.getElementById('endDate').value)">
		<b>Pick Winner</b></button>
	</div>
</div>

</div> <!-- fBox -->

</div> <!-- dataBox -->




<!-- ANIMATE BOX -->
<div id="suspenseBox">
</div>

<div id="winnerBox">
</div>









<div id="topTenReaders">
<span>
	<h1 id="topTenTitle">Top Five Readers</h1>
	<h3 id="topTenSubTitle">(this week)</h3>
</span>
	
<div style="color: #4e3a07; font-style: italic; font-size: small;">
	<b>{{beg}}</b> (Mon) through <b>{{end}}</b> (Fri)
</div>

<div id="studentListing" style="width: auto;">
{{#if numStudents}}
<table class="topTenTable" id="resultsTable">

  <!-- IF STUDENTS EXIST IN DATABASE -->
    <thead>
      <tr style="background: #96b5dc70; text-shadow: none;">
        <th style="background: #0000;">
				<th id="MC_RA">RANK
        <th id="MC_WC">Days Read (this week)
        <th id="MC_PR">Pages Read (this week)
        <th id="MC_SN">Student Number
        <th id="MC_FN">First Name
        <th id="MC_LN">Last Name

    <!-- EACH ROW -->
    <tbody>
    {{#each S}}
      <tr id="row{{this.studentNumber}}" onclick="clickRow({{this.id}})">
        <td style="text-align: center; background: #0000;">
        <td>{{this.place}}
        <td>{{this.works}}
        <td>{{this.pagesRead}}
        <td>{{this.id}}
        <td>{{this.fName}}
        <td>{{this.lName}}
    {{/each}} <!-- END ROW -->
    </tbody>
</table>

<!-- NO STUDENTS IN DATABASE -->
{{else}}
  <p><i>No students eligible for minecraft yet this week! </i></p>
  <p><i>Check date range to ensure correct results.</i></p>
{{/if}}
</div>

<form method="get" action="/readingLab">
	<h3>Minimum weekly worked days:
		<input type="number" value="{{days}}" id="days" name="days">
	</h3>
</form>


</div> <!-- topTenReaders div -->














<!-- GRAPHS GRAPHS GRAPHS -->

<h1 style="margin-bottom: 20px;">Reading Data</h1>

<div class="charts" style="margin-top:20px;">
	<h2 style="margin-bottom: 0px; margin-top: 20px;">Total Pages Read Each Day</h2>
	<h3 style="margin-bottom: 0px; margin-top: 0px;">(all students combined)</h3>
	<canvas id="myChart"></canvas>
</div>


<div class="charts">
	<h2 style="margin-bottom: 0px; margin-top: 20px;">Pages Read Each Week</h2>
	<h3 style="margin-bottom: 0px; margin-top: 0px;">(all students combined)</h3>
	<canvas id="myChartWeekPages"></canvas>
</div>


<div class="charts">
	<h2 style="margin-bottom: 0px; margin-top: 20px;">How many students Have Read</h2>
	<h3 style="margin-bottom: 0px; margin-top: 0px;">(<i>{{totalUniqueStudents}} total since program start</i>)</h3>
	<canvas id="myChartUniqueStudents"></canvas>
</div>










<!-- CHARTS PROPERTIES -->
<script>
	Chart.defaults.global.defaultFontColor = 'black';
</script>




<!-- TOTAL PAGES PER DAY -->
<script> 

	var a = [{{{data1}}}];
	var b = [{{{data2}}}];

	var pic = new Image(18, 18);
	pic.src = "images/bookIconBlue.png";

	new Chart(document.getElementById("myChart"), {
  type: 'line',
  data: {
    labels: b,
    datasets: [{ 
        data: a,
        label: "(Most recent 30 days)",
        borderColor: "#3e95cd",
        fill: false,
				pointStyle: pic
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Pages Read',
			fontSize: 22
    }
  }
});

</script>









<!-- TOTAL PAGES PER WEEK -->
<script> 

	var a = [{{{weekTotalData}}}];
	var b = [{{{weekTotalWeeks}}}];

	var pic = new Image(26, 26);
	pic.src = "images/bookIconBlue.png";

	var c = new Chart(document.getElementById("myChartWeekPages"), {
  type: 'line',
  data: {
    labels: b,
    datasets: [{ 
        data: a,
        label: "(all students)",
        borderColor: "#3e95cd",
        fill: false,
				pointStyle: pic
      }]
  },

  options: {
    title: {
      display: true,
      text: 'Pages per Week',
			fontSize: 22,
    }
  },

	defaults: {
		global: {
			defaultFontColor: 'black'
		}
	}

});


</script>






<!-- UNIQUE STUDENTS PER WEEK -->
<script> 

	var a = [{{{weekUniqueStudents}}}];
	var b = [{{{weekUniqueStudentsWeeks}}}];

	var pic = new Image(24, 24);
	pic.src = "images/boyIconBlue.png";

	new Chart(document.getElementById("myChartUniqueStudents"), {
  type: 'line',
  data: {
    labels: b,
    datasets: [{ 
        data: a,
        label: "(all students)",
        borderColor: "#3e95cd",
        fill: false,
				pointStyle: pic
      }]
  },
  options: {
    title: {
      display: true,
      text: 'Unique Students per Week',
			fontSize: 22
    }
  }
});

</script>





