


<script>
  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove ticket " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deleteTicket(rowNum, "ticketTable");
    }
  }
</script>





<h1>Student Work</h1>

<div>
	{{#if numEntries}}
	<table class="resultsTable" id="resultsTable" style="width: 1100px">

		<!-- IF STUDENTS EXIST IN DATABASE -->
			<thead>
				<tr>
					<th style="background: #fff1cc;">
						<small><th>Date Completed</small>
						<small><th>Student Number</small>
						<small><th>First Name</small>
						<small><th>Last Name</small>
						<small><th>Age Group</small>
						<small><th>School</small>
						<small><th>Work Type</small>
						<small><th>Points</small>
						<small><th>Notes/comments</small>

			<!-- EACH ROW -->
			<tbody>
			{{#each row}}
				<tr id="row{{this.studentNumber}}" onclick="clickRow({{this.tid}})">
					<td style="text-align: center; background: #fff1cc;">
						<button class="deleteButton"
							onclick="clickDelete({{this.tid}})"
							style="margin-right: 8px;">X
						</button>
					<td>{{this.date}}
					<td>{{this.studentNumber}}
					<td><small>{{this.firstName}}</small>
					<td><small>{{this.lastName}}</small>
					<td><small>{{this.ageGroup}}</small>
					<td><small>{{this.school}}</small>
					<td><small>{{this.workType}}</small>
					<td>{{this.points}}
					<td><small>{{this.notes}}</small>
			{{/each}} <!-- END ROW -->
			</tbody>
	</table>

	<!-- NO STUDENTS IN DATABASE -->
	{{else}}
		<p><i>No entries for given information found in database!</i></p>
	{{/if}}

</div>





