

<!-- =========== GENERAL INFORMATION ====== -->
<h2> Student Information </h2>

<div class="studentInfo">
      
  <div><h3>{{lastName}}, {{firstName}}</h3></div>

  <div>Student Number: <b>{{studentNumber}}</b></div>

  <div>Age Group: <b>{{ageGroup}}</b></div>

  <div>School: <b>{{school}}</b></div>

  <table class="pointsTable"> <tbody>
    <tr>
      <td>Lifetime Earned Points: <td><b>{{lifeTimeEarned}}</b>
    <tr>
      <td>Lifetime Spent Points:  <td><b>{{lifeTimeSpent}}</b>
    <tr id="balance">
      <td>Balance:                <td><b>{{balance}}</b>

      <!-- Change color of balance based on amount -->
      {{#if balanceRed}}
        <script>$('#balance').css("background", "#f31");</script>
      {{/if}}
      {{#if balanceYellow}}
        <script>$('#balance').css("background", "#ffe311");</script>
      {{/if}}
      {{#if balanceGreen}}
        <script>$('#balance').css("background", "#81ff11");</script>
      {{/if}}



  </tbody></table>

</div>




<!-- =========== TICKETS EARNED =========== -->
<br>
<h2> Recent Tickets </h2>
<i>(Most recent at top)</i>
<!-- IF TICKETS EXIST FOR STUDENT -->
{{#if numTickets}}
  <table class="ticketTable">
    <thead>
      <tr>
        <th id="T_DATE">DATE
        <th id="T_WT">Work Type
        <th id="T_P">Points Earned
        <th id="T_NOTE">Notes

    <!-- EACH TICKET -->
    <tbody>
    {{#each ticket}}
      <tr id="row{{this.id}}">
        <td>{{this.date}}
        <td>{{this.workType}}
        <td>{{this.pointsEarned}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO TICKETS YET -->
{{else}}
    <p><i>No entries for library tickets yet...</i></p>
    <br>
{{/if}}





<!-- =========== PURCHASES ================ -->
<br>
<h2> Recent Purchases </h2>
<i>(Most recent at top)</i>
<!-- IF PURCHASES EXIST FOR STUDENT -->
{{#if numPurchases}}
  <table class="purchasesTable">
    <thead>
      <tr>
        <th id="P_DATE">DATE
        <th id="P_A">Points Spent
        <th id="P_NOTE">Notes

    <!-- EACH TICKET -->
    <tbody>
    {{#each purchase}}
      <tr id="row{{this.id}}">
        <td>{{this.date}}
        <td>{{this.amount}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO PURCHASES YET -->
{{else}}
    <p><i>No entries for library purchases yet...</i></p>
    <br>
{{/if}}



