
<script>

  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove student " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deleteButtonAction(rowNum, "resultsTable");
    }
  }



  // clicking a row takes you to that student page
  function clickRow(rowNum) {

    var url = "http://flip2.engr.oregonstate.edu:" + portUsed + 
              "/student?scanID=" + rowNum;
    window.location = url;
  }
</script>





<!-- SEARCH STUDENT BY NAME -->
<i>Search by first or last name</i>
<form method="post" action="/searchStudentName">
<fieldset class="innerTable">

  <table style="text-align: left;">
    <!-- FIRST NAME -->
    <tr><th><label for="firstName">First Name</label></th>
      <td><input name="firstName" id="firstName" value="{{fName}}"></td></tr>

    <!-- LAST NAME -->
    <tr><th><label for="lastName">Last Name</label></th>
      <td><input name="lastName" id="lastName" value="{{lName}}"></td></tr>
  </table>
    
  <!-- SUBMIT BUTTON -->
  <input type="submit" value="Search" id="searchStudentSubmitButton">
  
</fieldset></form>
<br>






<h2>Search Student Results</h2>

<!-- TITLE -->
<div>
  <h3 style="margin: 0"> Results for: </h3>
  {{#if fName}}
    <div style="margin-left: 20px;">
    First name is '{{fName}}' 
    </div>
  {{/if}}

  {{#if lName}}
    <div style="margin-left: 20px;">
    Last name is '{{lName}}'
    </div>
  {{/if}}
</div>
<br>



<div id="studentListing">
{{#if numEntries}}
  <table class="resultsTable" id="resultsTable">
  <!-- IF STUDENTS EXIST IN DATABASE -->
    <thead>
      <tr>
        <th style="background: #fff1cc;">
        <th id="c_FN">First Name
        <th id="c_LN">Last Name
        <th id="c_SN">Student Number
        <th id="c_AG">Age Group
        <th id="c_SCH">School
        <!-- LATER ADD: hit lists, in same row -->
        <!-- LATER ADD: library points available -->


    <!-- EACH ROW -->
    <tbody>
    {{#each row}}
      <tr id="row{{this.studentNumber}}" onclick="clickRow({{this.studentNumber}})">
        <td style="text-align: center; background: #fff1cc;">
          <button class="deleteButton"
            onclick="clickDelete({{this.studentNumber}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.firstName}}
        <td>{{this.lastName}}
        <td>{{this.studentNumber}}
        <td>{{this.ageGroup}}
        <td>{{this.school}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>


<!-- NO STUDENTS IN DATABASE -->
{{else}}
  <p><i>No entries with given information found</i></p>
  <p><i>Enter in new students at the new student page.</i></p>
{{/if}}

</div>






