

<script>

  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove ticket " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deleteTicket(rowNum, "ticketTable");
    }
  }


  // onclick event for the X delete buttons
  function clickDeleteP(rowNum) {
    if (confirm("Remove purchase " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deletePurchase(rowNum, "purchasesTable"); // START HERE, create this function
    }
  }

</script>






<!-- =========== GENERAL INFORMATION ====== -->

<div id="studentInfoTopRow">

	<div class="studentInfo" style="padding: 15px;">
		<div><h2>{{lastName}}, {{firstName}}</h2></div>

		<div>Student Number: <b>{{studentNumber}}</b></div>

		<div>Age Group: <b>{{ageGroup}}</b></div>

		<div>School: <b>{{school}}</b></div>

		<table class="pointsTable"> <tbody>


			<tr>
				<td><b><u>Pages Read Today: </u></b><td><b><u>{{pagesReadToday}}</u></b>

			<tr> 
				<td>Pages Read Week: <td>{{pagesReadWeek}}

			<tr>
				<td>Pages Read Month: <td>{{pagesReadMonth}}

			<tr style="border-bottom-style: double;">
				<td><b>Pages Read Life: </b><td><b>{{pagesReadLife}}</b>

			<tr>
				<td>Monday's Read: <td>{{daysReadMonday}}

			<tr>
				<td>Tuesday's Read: <td>{{daysReadTuesday}}

			<tr>
				<td>Wednesday's Read: <td>{{daysReadWednesday}}

			<tr>
				<td>Thursday's Read: <td>{{daysReadThursday}}

			<tr>
				<td>Friday's Read: <td>{{daysReadFriday}}

			<tr style="border-bottom-style: double;">
				<td><b>Days Read Life: </b><td><b>{{daysReadTotal}}</b>


			<tr>
				<td>Lifetime Earned Points: <td>{{lifeTimeEarned}}

			<tr>
				<td>Lifetime Spent Points:  <td>{{lifeTimeSpent}}

			<tr id="balance" style="border-style: solid; border-width: 2px;">
				<td>Balance:                <td><b>{{balance}}</b>

				<!-- Change color of balance based on amount -->
				{{#if balanceRed}}
					<script>$('#balance').css("background", "#f31");</script>
				{{/if}}
				{{#if balanceYellow}}
					<script>$('#balance').css("background", "#ffe311");</script>
				{{/if}}
				{{#if balanceGreen}}
					<script>$('#balance').css("background", "#81ff11");</script>
				{{/if}}




		</tbody></table>
	</div>




	<div class="studentAchievements" style="padding: 15px;">

		<h2 class ="xLabLevel">X-Lab Level: <b class="xLabLevelActual">{{level}}</b></h2>



			<!--<marquee id="bScroller">latestRead</marquee>-->

		<div id="recentReading"><i><marquee id="bScroller">{{{recentReading}}}</marquee></i></h></div>

		<h2 id="badgesTitle">Badges</h2>
		<div class="badges">
			<!--
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			<img src="images/badge_trophy.png" alt="trophy badge">
			-->
		</div>

	</div>








</div> <!-- END TOP ROW -->




<div style="padding: 15px;">
	<!-- NEW TICKET FIELD -->
	<form method="post" action="/newTicket">
	<fieldset class="newTicketTable">
		<h2>New Library Ticket</h2>
		<p><b>Note: <u>All fields required!</u></b></p>

		<table style="text-align: left;">

			<!-- STUDENT NUMBER -->
			<tr><th><label for="studentNumber">Student Number</label></th>
				<td><input name="studentNumber" id="studentNumber" type="number"
	value="{{studentNum}}"></td></tr>

			<!-- DATE -->
			<tr><th><label for="date">Date</label></th>
				<td><input name="date" id="date" type="date" value="{{todayDate}}"></td></tr>

			<!-- WORK TYPE -->
			<tr><th>Work Type
				<td><select name="workType" id="workType">

					<option value="1">School Work</option>
					<option value="2" selected="selected">Reading Pages</option>
					<option value="3">Math Worksheet</option>
					<option value="4">Writing Worksheet</option>
					<option value="5">Clock/Time Worksheet</option>
					<option value="6">Miscellaneous Worksheet</option>
					<option disabled>--------------</option>
					<option value="7">School Work Computer</option>
					<option value="8">Dreambox</option>
					<option value="9">Reading Plus</option>
					<option value="10">Mindplay</option>
					<option value="11">abcya</option>
					<option value="12">Typing</option>
					<option value="13">Prodigy</option>
					<option value="14">Miscellaneous Computer</option>
					<option disabled>--------------</option>
					<option value="15">Unknown</option>
				</select></td></tr>

			<!-- Point Amount -->
			<tr><th><label for="amount">Point Amount</label></th>
				<td><input name="amount" id="amount" type="number"
	value="{{amount}}"></td></tr>

		</table>

		<!-- NOTES -->
		<div class="noteBox">
			<div><b>Notes/Comments:</b></div>
			<textarea rows="4" cols="50" name="notes">{{notes}}</textarea>
		</div>
		
		<!-- SUBMIT BUTTON -->
		<input type="submit" value="Submit" id="submitButton">
		
	</fieldset></form>



</div>

















<!-- =========== TICKETS EARNED =========== -->
<br>
<h2> Recent Tickets </h2>
<i>(Most recent at top)</i>
<!-- IF TICKETS EXIST FOR STUDENT -->
{{#if numTickets}}
  <table class="ticketTable" id="ticketTable">
    <thead>
      <tr>
        <th style="background: #0000;">
        <th id="T_DATE">DATE
        <th id="T_WT">Work Type
        <th id="T_P">Points Earned
        <th id="T_NOTE">Notes

    <!-- EACH TICKET -->
    <tbody>
    {{#each ticket}}
      <tr id="Trow{{this.id}}">
        <td style="text-align: center; background: #0000;">
          <button class="deleteButton"
            onclick="clickDelete({{this.id}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.date}}
        <td>{{this.workType}}
        <td>{{this.pointsEarned}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO TICKETS YET -->
{{else}}
    <p><i>No entries for library tickets yet...</i></p>
    <br>
{{/if}}





<!-- =========== PURCHASES ================ -->
<br>
<h2> Recent Purchases </h2>
<i>(Most recent at top)</i>
<!-- IF PURCHASES EXIST FOR STUDENT -->
{{#if numPurchases}}
  <table class="purchasesTable" id="purchasesTable">
    <thead>
      <tr>
        <th style="background: #0000;">
        <th id="P_DATE">DATE
        <th id="P_A">Points Spent
        <th id="P_NOTE">Notes

    <!-- EACH PURCHASE -->
    <tbody>
    {{#each purchase}}
      <tr id="Prow{{this.id}}">
        <td style="text-align: center; background: #0000;">
          <button class="deleteButton"
            onclick="clickDeleteP({{this.id}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.date}}
        <td>{{this.amount}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO PURCHASES YET -->
{{else}}
    <p><i>No entries for library purchases yet...</i></p>
    <br>
{{/if}}



