

<script>

  // onclick event for the X delete buttons
  function clickDelete(rowNum) {
    if (confirm("Remove ticket " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deleteTicket(rowNum, "ticketTable");
    }
  }


  // onclick event for the X delete buttons
  function clickDeleteP(rowNum) {
    if (confirm("Remove purchase " + rowNum + " from database? Warning, " + 
                "this can NOT be undone!")) {
      deletePurchase(rowNum, "purchasesTable"); // START HERE, create this function
    }
  }

</script>






<!-- =========== GENERAL INFORMATION ====== -->

<div id="studentInfoTopRow">

	<div class="studentInfo" style="padding: 15px;">
		<div><h2>{{lastName}}, {{firstName}} <i id="editButton">[edit]</i></h2></div>


		<div>Student Number: <b>{{studentNumber}}</b></div>

		<div>Age Group: <b>{{ageGroup}}</b></div>

		<div>School: <b>{{school}}</b></div>

		<table class="pointsTable"> <tbody>

			<tr>
				<td><b><u>Pages Read Today: </u></b><td><b><u>{{pagesReadToday}}</u></b>

			<tr> 
				<td>Pages Read Week: <td>{{pagesReadWeek}}

			<tr>
				<td>Pages Read Month: <td>{{pagesReadMonth}}

			<tr style="border-bottom-style: double;">
				<td><b>Pages Read Life:</b><i>[helm]:</i><td><b>{{pagesReadLife}}</b>&ensp;<i>({{helmText}})</i>

			<tr>
				<td>Monday's Read <i>[ruby]:</i> <td>{{daysReadMonday}}&ensp;<i>{{rubyText}}</i>

			<tr>
				<td>Tuesday's Read <i>[emerald]:</i> <td>{{daysReadTuesday}}&ensp;<i>{{emeraldText}}</i>

			<tr>
				<td>Wednesday's Read <i>[amethyst]:</i> <td>{{daysReadWednesday}}&ensp;<i>{{amethystText}}</i>

			<tr>
				<td>Thursday's Read <i>[sapphire]:</i> <td>{{daysReadThursday}}&ensp;<i>{{sapphireText}}</i>
 
			<tr>
				<td>Friday's Read <i>[diamond]:</i> <td>{{daysReadFriday}}&ensp;<i>{{diamondText}}</i>
 

			<tr style="border-bottom-style: double;">
				<td><b>Days Read Life</b> <i>[armor]:</i><td><b>{{daysReadTotal}}</b>&ensp;<i>({{armorText}})</i>

			<tr>
				<td>First day: <td>{{firstDate}}

			<tr>
				<td>Most Recent: <td>{{mostRecentDate}}

			<tr>
				<td>Weeks in Program <i>[boots]:</i> <td>{{weeksSinceStarted}}&ensp;<i>({{bootsText}})</i>

			<tr>
				<td>Average Reads/Week: <td>{{readsPerWeek}}
			<tr style="border-bottom-style: double;">
				<td>Average Reads/Month <i>[off hand]:</i> <td>{{readsPerMonth}}&ensp;<i>({{offHandText}})</i>
 


			<tr>
				<td>Base XP (days in program): <td>{{xpBase}}
			<tr style="border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: black">
				<td>Bonus XP (Pages Read / age group): <td> {{xpPagesBonus}}&emsp;<i> = {{xpOverall}} (total)</i>

			<tr style="border-bottom-style: double;">
				<td><b>Overall Level</b> <i>[main hand]:</i><td><b>{{level}}</b>&ensp;<i>({{mainHandText}})</i>


			<tr>
				<td>Lifetime Earned Points: <td>{{lifeTimeEarned}}

			<tr>
				<td>Lifetime Spent Points:  <td>{{lifeTimeSpent}}

			<tr id="balance" style="border-style: solid; border-width: 2px;">
				<td>Balance:                <td><b>{{balance}}</b>

				<!-- Change color of balance based on amount -->
				{{#if balanceRed}}
					<script>$('#balance').css("background", "#f31");</script>
				{{/if}}
				{{#if balanceYellow}}
					<script>$('#balance').css("background", "#ffe311");</script>
				{{/if}}
				{{#if balanceGreen}}
					<script>$('#balance').css("background", "#81ff11");</script>
				{{/if}}




		</tbody></table>

		<!-- RECENT READING -->
		<div id="recentReading">
			<div id="recentReadingLabel"><i><div>Recent</div><div>Reading:</div></i></div>
			<marquee id="bScroller"><i>{{{recentReading}}}</i></marquee>
		</div>


	</div>




	<div class="studentAchievements" style="padding: 15px;">
		<!-- LEVEL -->
		<h2 class ="xLabLevel">X-Lab Level: <b class="xLabLevelActual">{{level}}</b></h2>

		<h2 id="badgesTitle">Equipment</h2>
		<!-- BADGES -->
		<div class="badges">

			<img src="images/badgesBackground.png" alt="Badges Background" style="margin: auto;">
			<div class="badgeItems">

				<div id="coolName"><b>{{firstName}}<div>{{lastName}}</b></div></div>

				<!-- boots -->
				<img id="boots" src={{{boots}}}>
				<span id="boots"> &ensp;{{bootsLevel}}</span>

				<!-- helm -->
				<img id="helm" src={{{helm}}}>
				<span id="helm"> &ensp;{{helmLevel}}</span>

				<!-- armor -->
				<img id="armor" src={{{armor}}}>
				<span id="armor"> &ensp;{{armorLevel}}</span>

				<!-- weapon -->
				<img id="mainHand" src={{{mainHand}}}>
				<span id="mainHand"> &ensp;{{mainHandLevel}}</span>

				<!-- shield -->
				<img id="offHand" src={{{offHand}}}>
				<span id="offHand"> &ensp;{{offHandLevel}}</span>

				<!-- GEMS for the week days: -->
				<img id="gemMon" src={{{monPic}}}>
				<img id="gemTue" src={{{tuePic}}}>
				<img id="gemWed" src={{{wedPic}}}>
				<img id="gemThu" src={{{thuPic}}}>
				<img id="gemFri" src={{{friPic}}}>
			</div> <!-- END BADGES PICTURE -->

			<div id="characterStats">
				<div id="characterStatsTitle">Stats</div>
				<table class="characterStatsTable"> <tbody>
					<tr>
						<td class="leftCol">Life: <td class="rightCol">{{cLife}}
					<tr>
						<td class="leftCol">Speed: <td class="rightCol">{{{cSpeed}}}
					<tr>
						<td class="leftCol">Defence: <td class="rightCol">{{cDefence}}
					<tr>
						<td class="leftCol">Strength: <td class="rightCol">{{cStrength}}
					<tr>
						<td class="leftCol">Elemental Damage: <td class="rightCol">{{cElemental}}&ensp;
														<i>&ensp;<span id="fire">(fire: {{cFire}}</span>
																&ensp;<span id="cold">cold: {{cCold}}</span>
																&ensp;<span id="poison">poison: {{cPoison}})</span></i>
					<tr>
						<td class="leftCol"><span id="totalDamage"><b>Total Damage:</b><td class="rightCol"><b>{{cDamage}}</b></span>
				</tbody></table>


			</div> <!-- END CHARACTER STATS DIV -->

		</div> <!-- END BADGES DIV -->
	</div> <!-- END STUDENT ACHIEVEMENTS DIV -->








</div> <!-- END TOP ROW -->




<div style="padding: 15px;">
	<!-- NEW TICKET FIELD -->
	<form method="post" action="/newTicket">
	<fieldset class="newTicketTable">
		<h2>New Library Ticket</h2>
		<p><b>Note: <u>All fields required!</u></b></p>

		<table style="text-align: left;">

			<!-- STUDENT NUMBER -->
			<tr><th><label for="studentNumber">Student Number</label></th>
				<td><input name="studentNumber" id="studentNumber" type="number"
	value="{{studentNum}}"></td></tr>

			<!-- DATE -->
			<tr><th><label for="date">Date</label></th>
				<td><input name="date" id="date" type="date" value="{{todayDate}}"></td></tr>

			<!-- WORK TYPE -->
			<tr><th>Work Type
				<td><select name="workType" id="workType">

					<option value="1">School Work</option>
					<option value="2" selected="selected">Reading Pages</option>
					<option value="3">Math Worksheet</option>
					<option value="4">Writing Worksheet</option>
					<option value="5">Clock/Time Worksheet</option>
					<option value="6">Miscellaneous Worksheet</option>
					<option disabled>--------------</option>
					<option value="7">School Work Computer</option>
					<option value="8">Dreambox</option>
					<option value="9">Reading Plus</option>
					<option value="10">Mindplay</option>
					<option value="11">abcya</option>
					<option value="12">Typing</option>
					<option value="13">Prodigy</option>
					<option value="14">Miscellaneous Computer</option>
					<option disabled>--------------</option>
					<option value="15">Unknown</option>
				</select></td></tr>

			<!-- Point Amount -->
			<tr><th><label for="amount">Point Amount</label></th>
				<td><input name="amount" id="amount" type="number"
	value="{{amount}}"></td></tr>

		</table>

		<!-- NOTES -->
		<div class="noteBox">
			<div><b>Notes/Comments:</b></div>
			<textarea rows="4" cols="50" name="notes">{{notes}}</textarea>
		</div>
		
		<!-- SUBMIT BUTTON -->
		<input type="submit" value="Submit" id="submitButton">
		
	</fieldset></form>



</div>

















<!-- =========== TICKETS EARNED =========== -->
<br>
<h2> Recent Tickets </h2>
<i>(Most recent at top)</i>
<!-- IF TICKETS EXIST FOR STUDENT -->
{{#if numTickets}}
  <table class="ticketTable" id="ticketTable">
    <thead>
      <tr>
        <th style="background: #0000;">
        <th id="T_DATE">DATE
        <th id="T_WT">Work Type
        <th id="T_P">Points Earned
        <th id="T_NOTE">Notes

    <!-- EACH TICKET -->
    <tbody>
    {{#each ticket}}
      <tr id="Trow{{this.id}}">
        <td style="text-align: center; background: #0000;">
          <button class="deleteButton"
            onclick="clickDelete({{this.id}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.date}}
        <td>{{this.workType}}
        <td>{{this.pointsEarned}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO TICKETS YET -->
{{else}}
    <p><i>No entries for library tickets yet...</i></p>
    <br>
{{/if}}





<!-- =========== PURCHASES ================ -->
<br>
<h2> Recent Purchases </h2>
<i>(Most recent at top)</i>
<!-- IF PURCHASES EXIST FOR STUDENT -->
{{#if numPurchases}}
  <table class="purchasesTable" id="purchasesTable">
    <thead>
      <tr>
        <th style="background: #0000;">
        <th id="P_DATE">DATE
        <th id="P_A">Points Spent
        <th id="P_NOTE">Notes

    <!-- EACH PURCHASE -->
    <tbody>
    {{#each purchase}}
      <tr id="Prow{{this.id}}">
        <td style="text-align: center; background: #0000;">
          <button class="deleteButton"
            onclick="clickDeleteP({{this.id}})"
            style="margin-right: 8px;">X
          </button>
        <td>{{this.date}}
        <td>{{this.amount}}
        <td>{{this.notes}}
    {{/each}} <!-- END ROW -->
    </tbody>
  </table>

<!-- NO PURCHASES YET -->
{{else}}
    <p><i>No entries for library purchases yet...</i></p>
    <br>
{{/if}}


<script>
	var b = document.getElementById("editButton");
	b.onclick = function() {
		window.location = "/editStudent?studentNumber=" + {{studentNumber}};
	}
</script>

